In [1]:
import pandas as pd
import duckdb 

df = pd.read_excel(
    "../data/resultat-ansokningsomgang-2024.xlsx", sheet_name="Tabell 3", skiprows=5
)
df.head()

,Utbildningsomr√•de,SUN5 inriktning,SUN5 inriktning namn,Utbildningsnamn,Beslut,Diarienummer,Flera kommuner,Antal kommuner,L√§n,Kommun,...,S√∂kta utbildningsomg√•ngar,Beviljade utbildningsomg√•ngar,S√∂kta platser per utbildningsomg√•ng,S√∂kta platser totalt,Beviljade platser utbildningsomg√•ng 1,Beviljade platser utbildningsomg√•ng 2,Beviljade platser utbildningsomg√•ng 3,Beviljade platser utbildningsomg√•ng 4,Beviljade platser utbildningsomg√•ng 5,Beviljade platser totalt
0,Data/IT,481ab,"Utbildningar till programmerare, spel",AI Programmer,Avslag,MYH 2024/3742,Nej,1,V√§sterbotten,Ume√•,...,3,0,30,90,0,0,0,0,0,0
1,Data/IT,481ab,"Utbildningar till programmerare, spel","Forsbergs, Spelutvecklare ‚Äì Game Programming",Avslag,MYH 2024/4174,Nej,1,Stockholm,Stockholm,...,3,0,20,60,0,0,0,0,0,0
2,Data/IT,481ab,"Utbildningar till programmerare, spel",Futuregames Game Programmer Specialization,Avslag,MYH 2024/3029,Ja,2,Flera kommuner,Flera kommuner,...,3,0,30,90,0,0,0,0,0,0
3,Data/IT,481ab,"Utbildningar till programmerare, spel",Game Programmer,Avslag,MYH 2024/3425,Nej,1,Blekinge,Karlshamn,...,3,0,25,75,0,0,0,0,0,0
4,Data/IT,481ab,"Utbildningar till programmerare, spel",Spelprogrammerare,Beviljad,MYH 2024/3852,Nej,1,Sk√•ne,Malm√∂,...,4,3,35,140,35,35,35,0,0,105

In [2]:
df_regions = duckdb.query(
    """
    SELECT 
        l√§n, 
        COUNT_IF(beslut ='Beviljad') AS Beviljade
    FROM df 
    WHERE l√§n != 'Flera kommuner'
    GROUP BY
        l√§n
    ORDER BY 
        beviljade 
    DESC
"""
).df()

df_regions

                L√§n  Beviljade
0         Stockholm       82.0
1   V√§stra G√∂taland       63.0
2             Sk√•ne       37.0
3      √ñsterg√∂tland       16.0
4         J√∂nk√∂ping       13.0
5            √ñrebro       10.0
6    V√§sternorrland        6.0
7            Kalmar        5.0
8         Kronoberg        5.0
9       V√§stmanland        5.0
10        G√§vleborg        5.0
11     V√§sterbotten        4.0
12          Halland        4.0
13         V√§rmland        4.0
14          Dalarna        4.0
15          Uppsala        4.0
16       Norrbotten        4.0
17     S√∂dermanland        3.0
18         Blekinge        3.0
19         J√§mtland        2.0

In [3]:
import json

with open("../assets/swedish_regions.geojson", "r") as fp:
    json_data = json.load(fp)

json_data.get("features")[3].get("properties")

{'admin_level': '4',
 'boundary': 'administrative',
 'name': 'J√§mtlands l√§n',
 'ref:se:l√§n:bokstav': 'Z',
 'ref:se:l√§nskod': '23',
 'type': 'multipolygon'}

In [ ]:
def sum_field_by_filter(df, filter_field, filter_value, sum_field):
    """
    Filtrerar df p√• filter_field == filter_value och summerar v√§rden i sum_field.
    
    :param df: Pandas DataFrame
    :param filter_field: Kolumnnamn att filtrera p√•, t.ex. 'Utbildningsomr√•de'
    :param filter_value: V√§rde att filtrera efter, t.ex. 'Data/IT'
    :param sum_field: Kolumn att summera, t.ex. 'Antal beviljade platser'
    :return: Summan av sum_field efter filtrering
    """
    filtered = df.query(f"{filter_field} == @filter_value")
    return filtered[sum_field].sum()

# üß™ Exempel p√• anv√§ndning:
total = sum_field_by_filter(df, "Utbildningsomr√•de", "Data/IT", "Antal beviljade platser")
print(f"Total summa f√∂r Data/IT: {total}")